@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #ACDB16;
  --color-secondary: #7A4CFF;
  --color-background: #F8F3F0;
  --color-foreground: #07030F;
  --color-danger: #E82D04;
  --color-warn: #EEC142;
}

@theme {
  --font-sans: "Poppins", "sans-serif";
  --font-title: "Anton", "sans-serif";
}

@layer utilities {
  .backdrop-blur-md {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .scrollbar-hidden {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}